<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/shop-item.css') }}" rel="stylesheet">
    </head>
    <body>
        {% block body %}
        
        {% endblock %}
    
    </body>
    <script src="{{ asset('assets/js/jquery.js') }}" ></script>
    <script src="{{ asset('assets/js/boostrap.min.js') }}" ></script>
</html>